In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import glob
import os

In [2]:
gt_data = pd.read_json(f"./images_third_prompt//configurations.json")

In [3]:
gt_data = (
    gt_data.T
)  # use indexx as a new column in the dataframe and called it image_path
gt_data = gt_data.reset_index()
gt_data = gt_data.rename(columns={"index": "image_path"})
gt_data

,image_path,num_points,num_intersections,line_colors,line_thickness
0,image_0_thickness_2.png,3,1,"[red, blue]",2
1,image_0_thickness_3.png,3,1,"[red, blue]",3
2,image_0_thickness_4.png,3,1,"[red, blue]",4
3,image_1_thickness_2.png,3,2,"[red, blue]",2
4,image_1_thickness_3.png,3,2,"[red, blue]",3
...,...,...,...,...,...
145,image_48_thickness_3.png,3,2,"[red, blue]",3
146,image_48_thickness_4.png,3,2,"[red, blue]",4
147,image_49_thickness_2.png,3,0,"[red, blue]",2
148,image_49_thickness_3.png,3,0,"[red, blue]",3
149,image_49_thickness_4.png,3,0,"[red, blue]",4

In [4]:
# text_image_0a5a0d82-477d-47e2-a504-861c5952fe98-gemini-output.md
gt_data["gemini-output-file"] = gt_data["image_path"].apply(
    lambda x: "./images_third_prompt/" + x.replace(".png", "") + "-gemini-output.md"
)

# Read the content of each file for the gemini output and make a new column, ignoring missing files
gt_data["gemini-output-raw"] = gt_data["gemini-output-file"].apply(
    lambda x: (open(x, "r").read() if os.path.exists(os.path.join(x)) else None)
)

In [5]:
gt_data

,image_path,num_points,num_intersections,line_colors,line_thickness,gemini-output-file,gemini-output-raw
0,image_0_thickness_2.png,3,1,"[red, blue]",2,./images_third_prompt/image_0_thickness_2-gemi...,The blue and red lines cross each other **once...
1,image_0_thickness_3.png,3,1,"[red, blue]",3,./images_third_prompt/image_0_thickness_3-gemi...,The blue and red lines cross each other **once...
2,image_0_thickness_4.png,3,1,"[red, blue]",4,./images_third_prompt/image_0_thickness_4-gemi...,The blue and red lines cross each other **once...
3,image_1_thickness_2.png,3,2,"[red, blue]",2,./images_third_prompt/image_1_thickness_2-gemi...,The blue and red lines cross each other **twic...
4,image_1_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_1_thickness_3-gemi...,The blue and red lines cross each other **twic...
...,...,...,...,...,...,...,...
145,image_48_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_48_thickness_3-gem...,The blue and red lines cross each other **twic...
146,image_48_thickness_4.png,3,2,"[red, blue]",4,./images_third_prompt/image_48_thickness_4-gem...,The blue and red lines cross each other **twic...
147,image_49_thickness_2.png,3,0,"[red, blue]",2,./images_third_prompt/image_49_thickness_2-gem...,The blue and red lines cross each other **zero...
148,image_49_thickness_3.png,3,0,"[red, blue]",3,./images_third_prompt/image_49_thickness_3-gem...,The blue and red lines cross each other **once...
149,image_49_thickness_4.png,3,0,"[red, blue]",4,./images_third_prompt/image_49_thickness_4-gem...,The blue and red line plots cross each other *...

In [6]:
# drop rows with missing gemini output
gt_data = gt_data.dropna(subset=["gemini-output-raw"])
gt_data

,image_path,num_points,num_intersections,line_colors,line_thickness,gemini-output-file,gemini-output-raw
0,image_0_thickness_2.png,3,1,"[red, blue]",2,./images_third_prompt/image_0_thickness_2-gemi...,The blue and red lines cross each other **once...
1,image_0_thickness_3.png,3,1,"[red, blue]",3,./images_third_prompt/image_0_thickness_3-gemi...,The blue and red lines cross each other **once...
2,image_0_thickness_4.png,3,1,"[red, blue]",4,./images_third_prompt/image_0_thickness_4-gemi...,The blue and red lines cross each other **once...
3,image_1_thickness_2.png,3,2,"[red, blue]",2,./images_third_prompt/image_1_thickness_2-gemi...,The blue and red lines cross each other **twic...
4,image_1_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_1_thickness_3-gemi...,The blue and red lines cross each other **twic...
...,...,...,...,...,...,...,...
145,image_48_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_48_thickness_3-gem...,The blue and red lines cross each other **twic...
146,image_48_thickness_4.png,3,2,"[red, blue]",4,./images_third_prompt/image_48_thickness_4-gem...,The blue and red lines cross each other **twic...
147,image_49_thickness_2.png,3,0,"[red, blue]",2,./images_third_prompt/image_49_thickness_2-gem...,The blue and red lines cross each other **zero...
148,image_49_thickness_3.png,3,0,"[red, blue]",3,./images_third_prompt/image_49_thickness_3-gem...,The blue and red lines cross each other **once...
149,image_49_thickness_4.png,3,0,"[red, blue]",4,./images_third_prompt/image_49_thickness_4-gem...,The blue and red line plots cross each other *...

In [7]:
gt_data["gemini-output-raw"]

0      The blue and red lines cross each other **once...
1      The blue and red lines cross each other **once...
2      The blue and red lines cross each other **once...
3      The blue and red lines cross each other **twic...
4      The blue and red lines cross each other **twic...
                             ...
145    The blue and red lines cross each other **twic...
146    The blue and red lines cross each other **twic...
147    The blue and red lines cross each other **zero...
148    The blue and red lines cross each other **once...
149    The blue and red line plots cross each other *...
Name: gemini-output-raw, Length: 150, dtype: object

In [8]:
def extract_marked_text(text):
    # First try to extract text between **
    parts = text.split("**")
    if len(parts) > 1:
        # Extract the first marked text which is likely the number or description of intersections
        marked_text = parts[1].lower()
        # Map textual numbers and phrases to integer values
        number_mapping = {
            "zero": 0,
            "one": 1,
            "two": 2,
            "three": 3,
            "four": 4,
            "five": 5,
            "six": 6,
            "seven": 7,
            "eight": 8,
            "nine": 9,
            "ten": 10,
            "once": 1,
            "twice": 2,
            "one time": 1,
            "does not intersect": 0,
            "do not intersect": 0,
            "do not cross": 0,
            "never intersect": 0,
            "intersect zero times": 0,
            "no intersection": 0,
        }
        # Return the corresponding integer if the text is a known number or phrase, otherwise return the text
        return number_mapping.get(marked_text, marked_text)
    else:
        # Check for specific phrases indicating zero intersections
        zero_phrases = [
            "do not intersect",
            "never intersect",
            "intersect zero times",
            "no intersection",
            "does not cross",
            "do not cross",
            "never cross",
            "remain separate",
        ]
        if any(phrase in text.lower() for phrase in zero_phrases):
            return 0
        else:
            # If not found, return a default value indicating no marked text was found
            return "marker_not_found" + text


gt_data["extracted_number"] = gt_data["gemini-output-raw"].apply(extract_marked_text)

In [9]:
gt_data["extracted_number"].value_counts()

extracted_number
1    87
2    49
0    14
Name: count, dtype: int64

In [10]:
cleaned_data = gt_data.copy()

In [11]:
cleaned_data.head()

,image_path,num_points,num_intersections,line_colors,line_thickness,gemini-output-file,gemini-output-raw,extracted_number
0,image_0_thickness_2.png,3,1,"[red, blue]",2,./images_third_prompt/image_0_thickness_2-gemi...,The blue and red lines cross each other **once...,1
1,image_0_thickness_3.png,3,1,"[red, blue]",3,./images_third_prompt/image_0_thickness_3-gemi...,The blue and red lines cross each other **once...,1
2,image_0_thickness_4.png,3,1,"[red, blue]",4,./images_third_prompt/image_0_thickness_4-gemi...,The blue and red lines cross each other **once...,1
3,image_1_thickness_2.png,3,2,"[red, blue]",2,./images_third_prompt/image_1_thickness_2-gemi...,The blue and red lines cross each other **twic...,2
4,image_1_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_1_thickness_3-gemi...,The blue and red lines cross each other **twic...,2

In [12]:
# Ensure both columns are of integer type before comparison
cleaned_data["num_intersections"] = cleaned_data["num_intersections"].astype(int)
cleaned_data["extracted_number"] = cleaned_data["extracted_number"].astype(int)

cleaned_data["is_correct"] = (
    cleaned_data["num_intersections"] == cleaned_data["extracted_number"]
)
# Calculate accuracy
accuracy = cleaned_data["is_correct"].mean()
print(f"Overall Accuracy: {accuracy * 100:.2f}%")

Overall Accuracy: 69.33%

In [13]:
len(cleaned_data)

150

In [14]:
cleaned_data

,image_path,num_points,num_intersections,line_colors,line_thickness,gemini-output-file,gemini-output-raw,extracted_number,is_correct
0,image_0_thickness_2.png,3,1,"[red, blue]",2,./images_third_prompt/image_0_thickness_2-gemi...,The blue and red lines cross each other **once...,1,True
1,image_0_thickness_3.png,3,1,"[red, blue]",3,./images_third_prompt/image_0_thickness_3-gemi...,The blue and red lines cross each other **once...,1,True
2,image_0_thickness_4.png,3,1,"[red, blue]",4,./images_third_prompt/image_0_thickness_4-gemi...,The blue and red lines cross each other **once...,1,True
3,image_1_thickness_2.png,3,2,"[red, blue]",2,./images_third_prompt/image_1_thickness_2-gemi...,The blue and red lines cross each other **twic...,2,True
4,image_1_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_1_thickness_3-gemi...,The blue and red lines cross each other **twic...,2,True
...,...,...,...,...,...,...,...,...,...
145,image_48_thickness_3.png,3,2,"[red, blue]",3,./images_third_prompt/image_48_thickness_3-gem...,The blue and red lines cross each other **twic...,2,True
146,image_48_thickness_4.png,3,2,"[red, blue]",4,./images_third_prompt/image_48_thickness_4-gem...,The blue and red lines cross each other **twic...,2,True
147,image_49_thickness_2.png,3,0,"[red, blue]",2,./images_third_prompt/image_49_thickness_2-gem...,The blue and red lines cross each other **zero...,0,True
148,image_49_thickness_3.png,3,0,"[red, blue]",3,./images_third_prompt/image_49_thickness_3-gem...,The blue and red lines cross each other **once...,1,False
149,image_49_thickness_4.png,3,0,"[red, blue]",4,./images_third_prompt/image_49_thickness_4-gem...,The blue and red line plots cross each other *...,1,False

In [15]:
# Assuming 'cleaned_data' DataFrame has columns 'line_thickness', 'num_intersections', and 'extracted_number'

# Convert line_thickness to an appropriate numeric type if necessary
cleaned_data["line_thickness"] = cleaned_data["line_thickness"].astype(int)

# Calculate accuracy for each thickness
accuracy_by_thickness = cleaned_data.groupby("line_thickness").apply(
    lambda df: (df["is_correct"]).mean()
)

# Print the accuracy by line thickness
# print(accuracy_by_thickness
#
# #)
# multiply by 100 and round 2 decimal
accuracy_by_thickness = 100 * accuracy_by_thickness.round(2)
accuracy_by_thickness

/var/folders/y1/b5wjnkp96_b7cvzncx0zsry40000gn/T/ipykernel_89232/2276274514.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  accuracy_by_thickness = cleaned_data.groupby("line_thickness").apply(

line_thickness
2    70.0
3    66.0
4    72.0
dtype: float64

In [16]:
print(accuracy_by_thickness.to_latex())

\begin{tabular}{lr}
\toprule
 & 0 \\
line_thickness &  \\
\midrule
2 & 70.000000 \\
3 & 66.000000 \\
4 & 72.000000 \\
\bottomrule
\end{tabular}

# Export

In [17]:
cleaned_data.drop(["gemini-output-file"], axis=1, inplace=True)
cleaned_data.rename(columns={"gemini-output-raw": "model_output_raw"}, inplace=True)

In [18]:
cleaned_data

,image_path,num_points,num_intersections,line_colors,line_thickness,model_output_raw,extracted_number,is_correct
0,image_0_thickness_2.png,3,1,"[red, blue]",2,The blue and red lines cross each other **once...,1,True
1,image_0_thickness_3.png,3,1,"[red, blue]",3,The blue and red lines cross each other **once...,1,True
2,image_0_thickness_4.png,3,1,"[red, blue]",4,The blue and red lines cross each other **once...,1,True
3,image_1_thickness_2.png,3,2,"[red, blue]",2,The blue and red lines cross each other **twic...,2,True
4,image_1_thickness_3.png,3,2,"[red, blue]",3,The blue and red lines cross each other **twic...,2,True
...,...,...,...,...,...,...,...,...
145,image_48_thickness_3.png,3,2,"[red, blue]",3,The blue and red lines cross each other **twic...,2,True
146,image_48_thickness_4.png,3,2,"[red, blue]",4,The blue and red lines cross each other **twic...,2,True
147,image_49_thickness_2.png,3,0,"[red, blue]",2,The blue and red lines cross each other **zero...,0,True
148,image_49_thickness_3.png,3,0,"[red, blue]",3,The blue and red lines cross each other **once...,1,False
149,image_49_thickness_4.png,3,0,"[red, blue]",4,The blue and red line plots cross each other *...,1,False

In [19]:
cleaned_data["Model"] = ["Gemini-1.5-Pro"] * len(cleaned_data)
cleaned_data.to_pickle("./data/gemini-1.5-pro-3.pkl")